.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #eeedeb !important;
}
.MuiContainer-root {
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-radius: 10px;
}
button {
  background-color: #9b27b0 !important;
}
.error {
  padding-top: 10px;
  color: red;
}
.error-image {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.error-image img {
  width: 40%;
  /* height: 100%; */
}
.new-container {
  /* width: 100%; */
  /* background-color: #1976d2; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  padding: 20px;
}
.new-container a {
  font-weight: 600;
  border: 1px solid transparent;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.514);
}
.button-new {
  text-transform: capitalize !important;
  font-weight: 500 !important;
  background-color: #282c34 !important;
}
.active {
  background-color: rgb(49, 43, 43) !important;
  color: #fff !important;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content img {
  max-width: 50%;
  mix-blend-mode: multiply;
}
.add-contact {
  background-color: #282c34 !important;
}
.contact-form {
  margin: 20px !important;
}
.add-contact-cancel {
  background-color: rgb(199, 9, 9) !important;
}
.btn-action {
  background-color: transparent !important;
}
.avatar {
  /* width: 100%; */
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.user-name {
  font-weight: 600;
  color: white;
  font-family: sans-serif;
  color: white;
  text-transform: capitalize;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}
.full-box {
  margin-bottom: 20px !important;
}
.back-btn {
  /* background-color: #bdbdbd !important; */
  /* padding: 5px; */
}
.export,
.import {
  width: 100% !important;
  background-color: white !important;
  justify-content: center;
  align-items: center;
  font-weight: 500 !important;
  border: none !important;
}
.export-btn,
.import-btn {
  width: 100% !important;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
.export-btn button {
  background-color: white !important;
  outline: none !important;
}
